td{
  background: #ddd;
}

table{
  float: left;
}

.sudoku-inputs{
  display: block;
  float: left;
  padding-left: 2em;
}

input{
  display: block;
}

#sudoku-invert-input{
  display: inline;
}

#sudoku-invert-input-container{
  margin-left: -0.25em;
  margin-top: 0.25em;
}

.sudoku-display{
  float: left;
  padding: 5px;
  margin-left: 1em;
  background: #888;
}

img{
  max-height: 8em;
}